<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="logo"></div>
    <div class="name">Simple Sample</div>
    <div id="description" class="description" *ngIf="showDescription">
      Start the scanner and then aim at a barcode to get the encoded data.
    </div>

    <div id="lib-loading" *ngIf="!scannerReady">
      <br />Library is loading, please wait...
    </div>

    <button
      id="barcode-picker-starter-button"
      *ngIf="showButton"
      (click)="startBarcodePicker()"
    >
      Start Scanning
    </button>
    <button
      id="barcode-picker-starter-button"
      *ngIf="!showButton"
      (click)="stopBarCode()"
    >
      Stop Scanning
    </button>

    <div id="barcode-result" class="result-text">{{ result }}</div>

    <scandit-barcode-picker
      #barcodePicker
      id="barcode-picker"
      configure.licenseKey="AZUgYAoIK4B3QucRuCoDoeoESgdrQYvEY0cSOMhCivL0J3P1HG2QkQ5FTcbERj4k1FajJZB+TorhfVLibg/VqTxUC6zBSH1Jf0JN2qp8Bsr2V/TPo15el+Zc57bKXfCC01QdWA09NK0aC1pjki+y1kkb6S4+ZRL4Aj2OLeGB4bzkp+u+DMrxamr+TitpVTrjYje28YqvkNuenikXB7bKPWv5ci3PIwuvcXwFPjDXPCVe4t+IwAs415UzgSLwLUUAZL5OteZnUmqgnj3hN5+xEAbEObWmgg0eXDazj1zVzz6BjuG+dROSIZV2whDxD1LOQZM8GysNWKD2P1SiSjwhVUAtDILuvcsxOfigxnsY0myykRL4KMGikHbv7/D+qpSbdMAv20GoyA2TLWbtJOE/Y7bxA8qmrgfM8EVPgptV5VbU/ZQH3Kx5rMA06hhfAWd+vEqy5qflcvmMEMCwNGjQNEQsyi0wcl8iKC5VkqEq9KEKOEm2LnAdh7kEciaE13LMUKfiMYrIfjyOsD3Mtm1Q6+ngDjNhVjdbnLORtyOZtCtnpgcKJKv4TdXGREIfqtXieYTvpEDcRZGdbeEM+IAhY2wKMnEhEnBJxFxaTfDCnn7ENzQe7TtkhHWVlioYMJ1d9huAAB1BwcVAs4bv6yWZJnIxV9+b9K2UjZSk300c9aI4hAB8+esnfdAMCWOAmwDXCUp5RRIG8CLw9DvaKVkvl4yd7eHsMBQAzcoTah5jJ9ppGoBS5nkvLgHohdHk51qXXMnurEDCs5SCsCbYHEuIE7wPgdN0OAvtAPdGvuTUWPae5C9dnnI3GoBZa/BfGOUokRWI0+Q="
      configure.engineLocation="assets/"
      scanningPaused="true"
      visible="false"
      playSoundOnScan="true"
      vibrateOnScan="true"
      scanSettings.enabledSymbologies='["ean8", "ean13", "upca", "upce"]'
      (ready)="onReady()"
      (scan)="onScan($event)"
    >
    </scandit-barcode-picker>
  </div>
</ion-content>
